.all {
  border: 1px solid black;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  text-align: center;
  
}
.header {
  margin-top: 5%;
}
.answer {
  margin-bottom: 5%;
}
.topic {
  font-size: 50px;
}